@charset"UTF-8";
* {
	padding: 0px;
	margin: 0px;
	background-color: #2b3e50;
}
html {
	height: 100%;
	font-size: 100%
}
body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 0em;
	line-height: 1.5;
	color: #ebebeb;


}
#inner{
	display: block;
}
h1{
	font-size: 80px;
}
a {
	color: #df691a;
	text-decoration: none;
}
a:hover {
	color: #470047;
}
#container {
	min-height: 100%;
	position: relative;
}
#header {
	font-size: 2.75em;
	width: 65%;
	margin: 0 auto;
	padding: 10px;
}
#picture{
	text-align: center;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}
.nav-tabs > li > a {
  color: #ebebeb;
}
.nav-pills > li > a {
  color: #ebebeb;
}
